input{
    border-radius: 30px;
    border: 2px solid #3c4043;
    font-size: 30px;
    line-height: 1.8;
    outline: red outset 5px;
    margin: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #303134;
    padding: 5px 10px 5px 10px;

}
form{
    size: 50px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    position: relative;
    top: 125px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 25px;
    text-shadow: 2px 2px 5px red;
}
html{
    background-color: bisque;
}
label{
    font-size: 25px;
    font-weight: 500;
}