html{
    background-color: bisque;
}
.img_temp{
    height: 350px;
    position: absolute;
    height: 300px;
    left: 350px;
    top: 150px;
    width: 330px;
}

.img_lenght{
    height: 350px;
    position: absolute;
    height: 300px;
    right: 500px;
    top: 150px;
    width: 350px;
}
.img_weight{
    position: absolute;
    height: 350px;
    right: 500px;
    bottom: 100px;
}
.img_speed{
    position: absolute;
    height: 350px;
    left: 350px;
    bottom: 100px;
    width: 330px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 25px;
    text-shadow: 2px 2px 5px red;
}
h2{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 350px;
      
}